*{
    margin: 0;
    padding: 0;
    background-color: #222;
    box-sizing: border-box;
   
}
#clockContainer{
    position: relative;
    height: 20vw;
    width: 20vw;
    background: url(clock.jpeg);
    background-size: 100%;
    margin: auto;
    border: 2px solid #8e04c5;
    border-radius: 100%; 
   margin-top: 10rem;
}

#hour, #minute, #second{
   position: absolute;
   background: rgb(2, 2, 2);
   border-radius: 10px;
   transform-origin: bottom;
}
#hour{
    width: 1%;
    height: 16%;
    top: 34%;
    left: 49.5%;
    opacity: 0.8;
    /* display: none; */
}
#minute{
    width: .9%;
    height: 20%;
    top: 30%;
    left: 49.6%;
    opacity: 0.8;
   /* display: none; */
}
#second{
    width: .7%;
    height: 25%;
    top: 25%;
    left: 49.5%;
    /* display: none; */
}
@media only screen and (max-width: 768px){
    #clockContainer{
        height:60vw;
        width:60vw;   
    } 
}
@media only screen and (max-width: 480px) {
    #clockContainer{
        height:50vw;
        width:50vw;   
    }
}